*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



body{

    width: 100%;
    height: 100%;
    background-color: rgb(44, 87, 57);
}


header{

    width: 100%;
    height: 1rem;
  
}
.h1-logo{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    height: 3rem;
}

.h1-logo img{

    width: 90%;
    margin-top: 0.5rem;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.616));
    margin-bottom: 0.3rem;

}

.head-back{

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
 
    
}
    
nav{

    display: flex;
    justify-content: right;
    align-items: center;
   
   


}
nav a{

    color: #fff;
    padding: 1rem;
    text-decoration: none;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    backdrop-filter: blur(0);
    transition: 0.4s ease-in-out;

}
nav a:hover{
    
    background-color: rgba(160, 160, 160, 0.452);
    backdrop-filter: blur(30px);
 
    
}


.img-fundo{

    width: 100%;
     height: 90vh;
    background:linear-gradient(to bottom,
        rgba(0, 0, 0, 0.952),rgba(0, 0, 0, 0)
      ), url('img/post-id-dia-internacional-da-reciclagem-secretaria-municip.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.carousel .carousel-item {
    width: 100%;
   
    height: 20rem;
    
    
}
main{
    
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5rem; 

}

.sec-principal img{

    width: 30rem;
    height: 20rem;

}
.sec-principal h2{

    color: rgb(16, 56, 8);
    font-size: 2rem;
    font-variant: small-caps;
}

.sec-principal p{
    font-weight: bold;
    color: rgb(16, 56, 8);
    letter-spacing: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    
}

.sec-principal{

    width: 30rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    border-radius: 20px;
    gap: 2rem;
    border: 2px solid rgba(0, 0, 0, 0.13);
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.212);
    background-color: rgb(226, 226, 226);
    

}

footer{
    
    background-color: rgb(20, 20, 20);height: 10rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

}
footer h3{

    color: #fff;
    font-size: 2rem;
    font-variant: small-caps;
    overflow: hidden;
    position: absolute;
    margin-bottom: 7rem;
    
   
}

.redes{

    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
.redes .fa {

    border: 0.16rem solid rgb(255, 255, 255);
    padding: 0.5rem;
    font-size: 2rem;
    width: 3rem;
    border-radius: 10rem;
    text-align: center;
    text-decoration: none;
    filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, 0.555));
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.678);
    transition:  0.4s ease-in-out;
    transform: scale(1);
    
  }
  

  .fa:hover {
    
    border-color:  rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: rgb(16, 56, 8);
    transform:  scale(1.2) ;
    
   
  }
  

  .fa-facebook ,.fa-youtube, .fa-twitter{

    background: rgb(28, 151, 65);
    color: white;

  }