*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


body{
    width: 100%;
    height: 100%;
    background-color: rgb(44, 87, 57);
}


header{

    height: 1rem;
    width: 100%;

    
}
.h1-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 0.5rem;
}

.h1-logo img{
width: 9%;
filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.616));
margin-bottom: 0.3rem;




}
.h1-logo h1{
    color: rgba(243, 243, 243, 0.973);
    font-size: 3rem;
    font-variant: small-caps;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 10px;
    font-weight: bolder;
    filter: drop-shadow(2px 3px 0x rgb(29, 29, 29));

}
.head-back{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 1rem 1rem;
    
}
    
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.3rem;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}


.img-fundo{
    width: 100%;
    background:linear-gradient(to bottom,
        rgba(0, 0, 0, 0.918),rgba(0, 0, 0, 0.171)
      ), url('img/post-id-dia-internacional-da-reciclagem-secretaria-municip.jpg');
    background-position: center;
    height: 50rem;
    background-size: cover;
    background-repeat: no-repeat;
    
    
    
    

}

main{
    
  
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5rem;
    

    

}

.sec-principal img{
width: 30rem;
height: 20rem;


}
.sec-principal h2{
    color: white;
    font-size: 2rem;
    font-variant: small-caps;
}

.sec-principal p{
    color: white;

}

.sec-principal{
    width: 30rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    border-radius: 20px;
    gap: 2rem;
    border: 2px solid rgba(0, 0, 0, 0.13);
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.342);
    background-color: rgb(20, 39, 20);
}

footer{
    
    background-color: rgb(20, 20, 20);height: 10rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}
footer h3{
    color: #fff;
    font-size: 2rem;
    font-variant: small-caps;
    overflow: hidden;
    position: absolute;
    margin-bottom: 9rem;
    
   
}

.redes{
    margin-top: 1.3rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
.redes .fa {
    border: 0.16rem solid rgb(255, 255, 255);
    padding: 0.5rem;
    font-size: 2rem;
    width: 2rem;
    border-radius: 10rem;
    text-align: center;
    text-decoration: none;
    filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, 0.555));
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.678);
    
    transition:  0.6s  ;
    transform: scale(1);
    
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    border-color:  rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: rgb(16, 56, 8);
    
    transform: scale(1.2);
    
   
  }
  

  .fa-facebook ,.fa-youtube, .fa-twitter{
    background: rgb(28, 151, 65);
    color: white;
  }